input::placeholder{
    color: gray;
    justify-content: space-between;
}


/* 

PRA FAZER A BARRINHA!!

    import {
        CircularProgressbar,
        CircularProgressbarWithChildren,
        buildStyles
    } from "react-circular-progressbar";
    import "react-circular-progressbar/dist/styles.css";

    <CircularProgressbar
        value={percentage}
        text={`${percentage}%`}
        background
        backgroundPadding={6}
        styles={buildStyles({
            backgroundColor: "#3e98c7",
            textColor: "#fff",
            pathColor: "#fff",
            trailColor: "transparent"
        })}
    /> */